main {
    margin-top: .5vw;
    height: 51vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 6vw;
    border: thin solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main a {
    color: #03A6A6;
    text-decoration: none;
}

#sects {
    width: 45%;
    height: 100%;
    font-size: 1.7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#logo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#socials {
    font-size: 1.5vw;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#socials>a {
    width: 10%;
    height: 60%;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#socials>a>img {
    width: 100%;
}

.banner {
    width: 100%;
    height: 30%;
    border: thin solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner>img {
    width: 100%;
}

.item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    border: thin solid;
}

.item-info>* {
    width: 35%;
    height: 100%;
    border: thin solid;
    font-size: 1.8vw;
}

.intro {
    font-size: 2.5vw;
}

.intro>span {
    width: 100%;
    height: 60%;
    font-size: 4vw;
    font-weight: bold;
}

.intro>button {
    width: 50%;
    height: 30%;
    border: thin solid;
    font-size: 2.2vw;
    border-radius: 4vw;
    background-color: #03A6A6;
    color: #011F26;
}

.item-info>span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
