#main-header {}

#skill-header {
    height: 4vw;
    border: thin solid transparent;
}

#skill-header>a {
    font-size: 1.3vw;

}

#skill-header>a:hover {
    color: #03A6A6;
    text-decoration: underline;
}


#skill-search {
    width: 25%;
    border: thin solid #03A6A6;
    height: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 5vw;
    align-items: center;
    justify-content: space-evenly;
}

#skill-search>input {
    border: thin solid transparent;
    color: #011F26;
    width: 70%;
    height: 100%;
    font-size: 1vw;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#skill-search>button {
    width: 30%;
    height: 100%;
    color: #011F26;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: #03A6A6;
    border: thin solid transparent;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
