#experience-section {
  /* border: thin solid white; */
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#experience-section * {
  /* border: thin solid white; */
}

.experience-header-display {
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.experience-header-display > p {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: bold;
  color: #011f26;
  background-color: #03a6a6;
}

.experience-header-display > span {
  width: 40%;
  border: thin solid #03a6a6;
}

.experience-card {
  margin-top: 0.4vw;
  width: 100%;
  height: 15vw;
  border: thin solid white;
}
